<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="Gosso.EPiServerAddOn.ContextMenu.OpenInFormsView" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Gosso.EPiServerAddOn.ContextMenu.OpenInFormsView" />
  </assemblies>
  <dojo>
    <paths>
      <add name="open-in-new-tab" path="ClientResources"/>
    </paths>
  </dojo>
  <clientModule initializer="formsview-open/Initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
